body{
  margin: 0;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

$md: 768px;
$sm: 375px;


  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    &__logo {
      background: url("images/logo.PNG");
      width:  206px;
      height: 101px;
      text-align: center;
      background-repeat: no-repeat;
      margin: 28px 70px;
      @media (max-width: $md){
        width: 104px;
        height: 51px;
        margin: 30px 25px;
        background-size: contain;
      }

    }

    &__items {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      @media (max-width: $md){
        display: none;
      }
    
    }

      &__item a {
        text-decoration: none;
        color: black;
        margin: 0 50px;
    }
  }

  .front-page {
    text-align: center;
    color: white;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media (max-width: $md) {
      background-image: none;
      background-color: #f0eeee;
    }

      &__sup-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        margin-top: 70px;
        @media (max-width: $md) {
          font-size:  16px;
          color: #737373;
        }
      }

      &__header {
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 58px;
          margin-top: 0;
          max-width: 1000px;
          @media (max-width: $md) {
            font-size:  36px;
            color: black;
          }
      }

      &__sub-header {
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          font-size: 24px;
          margin-top: 0;
          @media (max-width: $md) {
          color: #737373;
          }
      }

  }

  // fix the buttons in between mobile and tablet
  .button {
    margin-top: 40px;
    margin-bottom: 100px;
    @media (max-width: $sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
      &__cta-1 {
        width: 236px;
        height: 68px;
        background-color: #FA4A0C;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        border-radius: 30px;
        border: none;
        margin-right: 34px;
        @media (max-width: $sm) {
          margin-bottom: 20px;
          margin-right: 0;
        }       
      }

      &__cta-2 {
        width: 236px;
        height: 68px;
        background-color: transparent;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        border-radius: 30px;
        border: 1px solid white;
        @media (max-width: $md) {
        border: 1px solid #FA4A0C;
        color: #FA4A0C;
        }
      }
    }

  .second-page {
    display: flex;
    align-items: center;
    justify-content: center;


    &__image-container {
      margin-bottom: 129px;
      @media (max-width: $sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      }
    }

    &__image-item {
      @media (max-width: $sm) {
        width: 90%;
      }
    }
       
  }

  .insert {
    display: flex;
    flex-direction: column;
    @media (max-width: $md) {
      display: flex;
      flex-direction: column-reverse;
    }
 
    &__decoration {
      border: 1px solid lightgrey;
      width: 45%;
      margin: 0 auto;
      @media (max-width: $md) {
        width: 100%;
      }
    }
}

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    @media (max-width: $sm) {
      font-size: 24px;

    }

  }

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

      &__main-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;

      // .reverse {
      //   flex-direction: row-reverse;
      // }

      @media (max-width: $md) {
        display: flex;
        flex-direction: column-reverse;
        max-width: 600px;
        }
      }
  
      &__main-block-img {
        @media (max-width: $sm) {
          width: 70%;
        }
      }

      &__main-block-text {
        text-align: left;
        @media (max-width: $md) {
          text-align: center;
        }
        @media (max-width: $sm) {
          text-align: center;
          margin-left: 20px;
          margin-right: 20px;
        }       
      }

        &__main-block-text h3 {
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 700;
          color: #FA4A0C;
          @media (max-width: $sm) {
            font-size: 20px;
          }
          
        }

        &__main-block-text h2 {
          font-family: 'Montserrat', sans-serif;
          font-size: 40px;
          font-weight: 700;
          text-align: left;
          @media (max-width: $md) {
            text-align: center;
          }
          @media (max-width: $sm) {
            font-size: 24px;
          }
        }    

        &__main-block-text h4 {
          font-family: 'Montserrat', sans-serif;
          font-size: 24px;
          font-weight: 500;
          color: #737373;
          @media (max-width: $sm) {
            font-size: 20px;
          }
        }    

  }

  .last-page {
    text-align: center;
    color: white;
    background-image: url("images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media (max-width: $md) {
      background-color: #252B42;
      background-image: none;
    }

    &__header {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 40px;
      margin-top: 140px;
    }

    &__sub-header {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 24px;
      margin: 0 auto;
      @media (max-width: $md) {
      margin: 0 30px;
      }
    }
  
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 30px auto;
    }

    &__logo {
      background: url("images/logo.PNG");
      width:  206px;
      height: 101px;
      text-align: center;
      margin: 60px 70px;
      background-repeat: no-repeat;
      @media (max-width: $md) {
        display: none;
      }

    }

    &__items {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;

    }

    &__item a{
      text-decoration: none;
      color: #FA4A0C;
      margin: 0 30px;
    }

    &__rights {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: black;
      margin: 0 50px;
      @media (max-width: $md) {
        margin: 0;
      }
    }

  }
